<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render "shared/user_info" %>
      </section>
      <section class="note_form">
        <%= render "shared/note_form" %>
      </section>
    </aside>
    <ul id="voice-content">
      <!-- ここにDOM操作でSpeechRecognitionの値が書かれる -->
    </ul>
    <%= render "shared/note_post" %>

  </div>

<% else %>

  <div class="center jumbotron">
    <h1>Welcome to the VoiceNote</h1>

    <h2>
      This is the home page for the
      <a href="https://railstutorial.jp/">VoiceNote</a>
      application.
    </h2>

    <%= link_to "Sign up now!", signup_path , class: "btn btn-lg btn-primary" %>
  </div>

  <%= link_to image_tag("rails.png", alt: "Rails logo"),
              'http://rubyonrails.org/' %>
<% end %>
